:root {
  --bg: #203060;
  --text: #BDCFE9;
  --shadow: 0 8px 40px #0F1F4F;
  --dark: #203060;
  --green: #50E6C5;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .2s color;
}

a:active,
a:visited {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--base);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: inherit;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 2;
}

.app__home {
  background-color: var(--bg);
  color: var(--text);
  padding-top: 184px;
}

.container {
  width: 100%;
  max-width: 1596px;
  position: relative;
  margin: 0 auto;
}

.btn {
  border: 1px solid var(--text);
  padding: 14px 0;
  width: 205px;
  border-radius: 8px;
  font-size: 1rem;
}

.btn_green {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s color, .2s background-color;
  z-index: 1000;
}

.header_scroll {
  background-color: var(--text);
  color: var(--dark);
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 184px;
  transition: .2s height;
}

.header__box_scroll {
  height: 95px;
}

.header__box_scroll .header__logo span {
  display: none;
}

.header__menu {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 12px;
  margin-right: 75px;
}

.header__item {
  display: block;
  padding: 0 24px;
}

.header__logo {
  font-size: 24px;
}

.header__logo-img {
  margin-right: 5px;
}

.home-top {
  text-align: center;
  margin-bottom: 120px;
}

.home-top__title {
  font-size: 50px;
  max-width: 400px;
  margin: 46px auto 40px auto;
  font-weight: 400;
  line-height: 1.44;
}

.home-top__text {
  max-width: 835px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.home-top__img {
  display: block;
  margin: 0 auto;
  margin-top: 146px;
}

.home-top__become-btn {
  margin-right: 46px;
}

.home-banner {
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 111px;
  color: var(--dark);
  font-size: 30px;
  line-height: 1.5;
  background: #fff url(../img/banner-right.svg) no-repeat;
  background-size: contain;
  background-position: top right;
  font-weight: 700;
  margin-bottom: 104px;
}

.home-banner a {
  color: var(--green);
}

.home-banner__btn {
  margin-top: 36px;
  padding: 15px 0;
  width: 267px;
}

.partners {
  border-top: 2px solid var(--text);
  padding-top: 110px;
  padding-bottom: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  display: block;
}

.footer {
  border-top: 1px solid var(--text);
}

.footer__box {
  font-weight: 300;
  font-size: 14px;
  padding: 0 20px;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  list-style: none;
  display: flex;
  margin-right: 108px;
}

.social__item {
  width: 32px;
  height: 32px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 34px;
  border-radius: 6px;
}

.social__twitter {
  background-image: url(../img/icons/twitter.svg);
}

.social__medium {
  background-image: url(../img/icons/medium.svg);
  background-color: var(--text);
}

.social__telegram {
  background-image: url(../img/icons/telegram.svg);
  background-color: var(--text);
}

.social__github {
  background-image: url(../img/icons/github.svg);
}
