.range {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__input {
    margin-right: 20px;
    display: none;
  }

  &__span {
    border: 3px solid #8BB5F9;
    width: 16px;
    height: 16px;
    background-color: #fff;
    display: block;
    border-radius: 100%;

    &_first,
    &_last {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &__slider {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    transition: .5s left;
    background: url(../img/icons/slider.svg) no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  &__progress,
  &::before {
    display: block;
    position: absolute;
    height: 8px;
    border-radius: 8px;
    left: 0;
    top: calc(50% - 4px);

  }
  
  &__progress {
    width: 0;
    z-index: -2;
    background-color: #8BB5F9;
    transition: .5s width;
  }
  
  &::before {
    content: '';
    width: 100%;
    background-color: #CEDDF2;
    z-index: -3;
  }
}