.the-way {
  margin-top: 182px;
  margin-bottom: 260px;
  color: #4c6280;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 75px;
  }

  &__box {
    position: relative;
    padding-top: 34px;
    padding-bottom: 150px;
  }

  &__item {
    position: relative;

    h3 {
      font-weight: 600;
      font-size: 20px;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
    }

    &_right {
      margin-top: 152px;

      &::before {
        left: -17.5px;
      }
    }

    &_left {
      margin-bottom: 152px;

      &::before {
        right: -17.5px;
      }
    }
  }

  &__img {
    overflow: hidden;
    border-radius: 100%;
    box-shadow: var(--shadow);
    width: 180px;
    height: 180px;
    border: 10px solid #fff;
    margin-bottom: 10px;
    display: inline-block;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__number {
    display: none;
  }
}

@media (min-width: 768px) {
  .the-way {
    &__box {
      display: flex;
      flex-wrap: wrap;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: calc(50% - 4px);
        width: 8px;
        height: 100%;
        background-color: #ceddf2;
        border-radius: 8px;
      }
    }

    &__item {
      width: 50%;
      flex-shrink: 0;

      &::before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background: var(--green);
        border: 8px solid #fff;
        top: 72.5px;
        border-radius: 100%;
        box-shadow: 0 8px 15px rgba(125, 147, 178, 0.25);
      }

      &_right {
        padding-left: 130px;
      }

      &_left {
        text-align: right;
        padding-right: 130px;
      }
    }

    &__img {
      &_left {
        transform: translateX(25%);
      }

      &_right {
        transform: translateX(-25%);
      }
    }
  }
}

@media (max-width: 1706px) {
  .the-way {
    br {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .the-way {
    &__item {
      p {
        font-size: 14px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 840px) {
  .the-way {
    background-color: #fafcff;
    margin-top: 0;
    padding-top: 54px;

    &__title {
      margin-bottom: 36px;
    }
  }
}

@media (max-width: 767px) {
  .the-way {
    margin-bottom: 148px;

    &__title {
      font-size: 18px;
    }

    &__box {
      padding: 0 42px;
    }

    &__item {
      text-align: center;

      &_left {
        margin-bottom: 56px;
      }

      &_right {
        margin-top: 56px;
      }

      &::before {
        display: none;
      }
    }

    &__img {
      border-width: 7px;
      width: 140px;
      height: 140px;
      margin-bottom: 0;
    }

    &__number {
      display: block;
      font-size: 50px;
      color: #e8eef5;
      line-height: 72px;
    }
  }
}
