.home-top {
  background-color: transparent;
  padding-bottom: 120px;
  border-bottom: none;
  display: flex;
  text-align: left;

  & .sq-1 {
    animation: sq1-move 12s ease-in-out infinite both;
  }

  & .sq-2 {
    animation: sq2-move 12s ease-in-out infinite both;
  }

  @keyframes topmove {
    55% {
      transform: translateY(42px);
    }
  }

  @keyframes sq1-move {
    50% {
      transform: translateY(-12px);
    }
  }

  @keyframes sq2-move {
    50% {
      transform: translateY(78px);
    }
  }

  &__title {
    margin: 46px auto 40px auto;
    color: #fff;
    padding: 0;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__text {
    padding: 0;
  }

  &__link {
    margin-top: 2rem;
    display: block;
    text-decoration: underline;
  }

  &__become-btn {
    margin-right: 46px;
    padding: 14px 32px;
    @media (max-width: 400px) {
      padding: 14px 24px;
      min-width: 172px;
    }
  }
  &__join-btn {
    padding: 14px 32px;
    @media (max-width: 400px) {
      padding: 14px 24px;
    }
  }
}

@media (max-width: 767px) {
  .home-top {
    &__title {
      margin-bottom: 20px;
    }

    &__become-btn {
      display: block;
      margin: 20px auto;
      width: 187px;
      line-height: 1.4rem;
    }

    &__img {
      padding: 0 50px;
      margin-top: 70px;
    }
  }
}
