.home-banner {
  &__box {
    border-radius: 8px;
    color: var(--dark);
    background: #fff url(../img/banner-right.svg) no-repeat;
    background-size: contain;
    background-position: top right;
    font-weight: 700;
    margin-bottom: 84px;
    padding: 72px 111px 72px 61px;
  }

  &__text {
    text-transform: uppercase;
    line-height: 42px;
    margin-bottom: 32px;
    font-size: 28px;
  }

  &__icon-rocket {
    background: url(/img/icons/rocket.svg) no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 20px;
  }
  &__icon-arrow {
    background: url(/img/icons/arrow.svg) no-repeat center;
    background-size: contain;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
  }
  &__btn {
    color: inherit;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 182px;
    line-height: 1;
    padding: 12px 0;
    background-color: #50e6c5;
    border-radius: 4px;
    transition: 0.2s background-color;
    margin-right: 32px;
    margin-bottom: 22px;

    &:hover,
    &:focus {
      color: inherit;
      background-color: #94e8d2;
    }
  }
}

@media (max-width: 991px) {
  .home-banner {
    &__box {
      padding: 46px 26px 24px;
      background-size: 88px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 767px) {
  .home-banner {
    padding: 0;
    margin: 0;
    width: 100%;

    &__box {
      border-radius: 0;
    }

    &__text {
      width: 100%;
    }

    &__icon-rocket {
      width: 30px;
      height: 30px;
    }
  }
}
