.home-top {
  background-color: transparent;
  padding-bottom: 120px;
  border-bottom: none;
  display: flex;
  text-align: left;

  & .sq-1 {
    animation: sq1-move 12s ease-in-out infinite both;
  }

  & .sq-2 {
    animation: sq2-move 12s ease-in-out infinite both;
  }

  @keyframes topmove {
    55% {
      transform: translateY(42px);
    }
  }

  @keyframes sq1-move {
    50% {
      transform: translateY(-12px);
    }
  }

  @keyframes sq2-move {
    50% {
      transform: translateY(78px);
    }
  }
  #image0 {
    animation: blink 6s cubic-bezier(0.2, 0.73, 0.71, 0.44) infinite both;
  }

  @keyframes blink {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.4;
    }
  }

  &__title {
    margin: 46px auto 40px auto;
    color: #fff;
    padding: 0;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 536px;
    flex-shrink: 0;

    svg {
      width: 100%;
    }
  }

  &__text {
    padding: 0;
  }

  &__link {
    margin-top: 2rem;
    display: block;
    text-decoration: underline;
  }

  &__become-btn {
    margin-right: 46px;
    padding: 14px 32px;
    white-space: nowrap;
    @media (max-width: 400px) {
      padding: 14px 24px;
      min-width: 172px;
    }
  }

  &__join-btn {
    padding: 14px 32px;
    white-space: nowrap;
    @media (max-width: 400px) {
      padding: 14px 24px;
    }
  }
}

@media (max-width: 1328px) {
  .home-top {
    &__text br {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .home-top {
    &__img {
      width: 430px;
    }
  }
}

@media (max-width: 1108px) {
  .home-top {
    &__img {
      width: 380px;
    }
  }
}

@media (max-width: 991px) {
  .home-top {
    display: block;

    &__img {
      margin-top: 70px;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .home-top {
    padding-bottom: 0;

    &__title {
      margin-bottom: 20px;
    }

    &__become-btn,
    &__join-btn {
      display: block;
      margin: 20px auto;
      width: 187px;
      line-height: 1.4rem;
      text-align: center;
    }

    &__img {
      margin-top: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .home-top {
    &__img {
      height: 500px;
    }
  }
}
