.home-top {
  background-color: transparent;

  &__title {
    margin: 46px auto 40px auto;
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-top: 146px;
  }

  &__become-btn {
    margin-right: 46px;
  }
}
