- var name = 'Adam Wang '
- var photo = ''
- var position = 'Founder'
- var text = 'Chartered accountant of Australia and New Zealand; Adam started as an accountant, gathering 14 years of experience in the financial industry, super funds, F&B, and software development. Adam previously held a management role in a self-managed super fund (SMSF), and has managed over 800 million AUD in super fund assets at top-tier companies. '

include ../people-card.pug