- var name = 'Ashwath'
- var position = 'Founder/Engineering VP'
- var text = 'A software architect, cloud enthusiast and a polyglot with experience in software engineering and abundant passion for building great software. He has worked as a solutions consultant at PWC, led the architecture for Nvidia games and led in various positions in Cisco, Intel & Philips.'
- var photo = 'img/team/ash.jpg'

include ../people-card.pug