- var name = 'Ivan Cheah'
- var photo = 'img/team/photo.jpg'
- var position = 'Co-founder & CEO'
- var text = 'Ivan is a business executive with over 15 years of experience and a background in marketing and finance. He has held senior roles in the telecommunications, strategy consulting and automotive industry. Prior to marketing and finance, he worked as an engineer in the automotive industry, with roles in Australia, Korea and Germany. He also holds an MBA and a Bachelor of Aerospace Engineering.'

include ../people-card.pug