- var name = 'Tim Cole'
- var photo = ''
- var position = 'Senior Web Designer'
- var text = 'Tim has worked in the online media industry for over 5 years, designing and building websites for small to medium size businesses. He brings skills in design and a passion for the user experience.'

include ../people-card.pug