- var name = 'Electo'
- var photo = 'img/team/photo.jpg'
- var position = 'Founder & CTO'
- var text = 'Faisal aka “electo” is also very active in trading communities and provides a lot of technical feedback and education around bitcoin and trading in general. Faisal has worked with many of the top 100 fortune companies creating and implementing prediction based models based on both machine learning (AI) and trend analysis.'

include ../people-card.pug