- var name = 'Rahul Golash'
- var position = 'VP/Emerging Technologies'
- var text = 'Holds three patents. Worked for Siemens, Broadridge financial amongst other companies prior to joining ledgerium. Rahul leads the blockchain side and the team that works on it around the world.'
- var photo =  'img/team/rahul.png'

include ../people-card.pug