- var name = 'Seep Gulati'
- var position = 'Junior Full Stack Developer'
- var text = 'Seep is a full-stack developer in training. She enjoys creating simple and intuitive applications. After several years of working as a public relations professional, she kick-started her software development journey.'
- var photo = ''

include ../people-card.pug