- var name = 'Leo Huang '
- var photo = 'img/team/photo-1.jpg'
- var position = 'Advisor'
- var text = 'Managing partner of INP group. As a leading principal in his firm, Leo has extensive knowledge and experience in various industries, including cryptocurrency exchanges and large international corporations.'

include ../people-card.pug