- var name = 'Konstantine Huffman'
- var position = 'Marketing Specialist'
- var text = 'Konsta is currently studying Commerce at the University of Melbourne. He comes to Block Ledger with 2 years experience, specializing in Social Media and Content Management.'
- var photo = ''

include ../people-card.pug