- var name = 'Ifran'
- var position = 'Full Stack Developer'
- var text = 'Started his code life working on the Nero suite in C/C++. Ifran switched languages more than jobs in the last few years and can almost code anything you throw at him. Churns out code at rapid pace while making it look easy.'
- var photo = 'img/team/ifran.jpg'

include ../people-card.pug