- var name = 'Santhosh Kumar '
- var position = 'Engineering Lead & Architect'
- var text = 'Prior to joining ledgerium Santhosh was the front-end architect at Nvidia and one of the power houses behind the GeForce experience. He is proficient in Binary, C++, JavaScript, Python, Java and Klingon. '
- var photo = ''

include ../people-card.pug