- var name = 'Suet Er Lee'
- var position = 'Junior Front-end Developer'
- var text = 'Suet Er is a fresh-grad from The University of Melbourne. Her passion for IT inspire her to embark into the world of IT. Since then, she joined CoderAcademy and became a full-stack developer, working on real-life applications.'
- var photo = 'img/team/lee.jpg'

include ../people-card.pug