- var name = 'Kellson Ma'
- var position = 'Co-founder/CIO'
- var text = 'Co-Founder of ChinaDsl.net – One of the largest Chinese broadband support community. Kellson has over 12 years of experiences in software development for education, multinational Telco & Energy Corps.  Prior to us, he was working at one of the top 2 ISPs in Australia. His expertise is working with payment processers and building solutions that our compliant with industry standards.'
- var photo = ''

include ../people-card.pug