- var name = 'Ping'
- var position = 'UI/UX Designer'
- var text = 'Ping takes stick sketches and half baked ideas from the team, and turns them into magical user experiences which are highly usable and look amazing.'
- var photo = ''

include ../people-card.pug