- var name = 'Rachel Li'
- var position = 'Head of Design'
- var text = 'Rachel is a T-shaped designer digging deep in UI/UX design and leads our design team. She has experience in designing public safety related digital projects for Motorola Solutions and The Queensland Police.'
- var photo = ''

include ../people-card.pug