- var name = 'Ray Wang'
- var photo = ''
- var position = 'Founder/CFO'
- var text = 'Ray has been a professional accountant for more than 10 years, and has experiences in both commercial and public accounting industries including working in financial compliance and internal control, budgeting, forecasting areas in Top 500 companies for many years and wide range of experience in many business and taxation accounting firms. Ray also has memberships in many business associations and sports clubs.'

include ../people-card.pug