- var name = 'Steve Slayo'
- var photo = 'img/team/steve.jpg'
- var position = 'Senior Software Engineer'
- var text = 'Steve switched from pharmacy to coding. He is now a core part of our team. He really hates censorship, and has scars to show for it. He also runs a cryptostats website which sends out really cool trade signals.'

include ../people-card.pug