- var name = 'Zac'
- var position = 'Full Stack Developer'
- var text = 'Worked for National Instruments, Stratasoft and currently contracts for ledgerium. He codes in C/C++ and has lots of low asic level programming experience behind him. Currently working in Golang on ledgerium core.'
- var photo = ''

include ../people-card.pug