.btn {
  border: 1px solid var(--text);
  padding: 16px 0;
  width: 205px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1;
  display: inline-block;

  &_empty {
    transition: 0.2s color, 0.2s background-color;

    &:hover,
    &:focus {
      color: var(--bg);
      background-color: var(--text);
    }
  }

  &_green,
  a&_green {
    background-color: var(--green);
    color: #fff;
    border-color: var(--green);
    transition: 0.2s background-color, 0.2s border-color;

    &:hover,
    &:focus {
      background-color: #20d4b6;
      border-color: #20d4b6;
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .btn {
    width: 165px;
  }
}
