.social {
  &__item {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .6;
    transition: .2s opacity;
    display: block;
    margin-right: 34px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__twitter {
    background-image: url(../img/icons/twitter.svg);
  }

  &__medium {
    background-image: url(../img/icons/medium.svg);
  }

  &__telegram {
    background-image: url(../img/icons/telegram.svg);
  }

  &__github {
    background-image: url(../img/icons/github.svg);
  }
}