header.header(:class="{ 'header_show': isShowMenu, 'header_height-full': isShowHeight, 'header_scroll_home': isScroll }")
  .container.header__box(:class="{ 'header__box_scroll': isScroll }")
    a.header__logo(href='/')
      img.header__logo-img.header__logo-img_light.header__logo_home(src='img/logo-with-text.svg' alt='Ledgerium logotype')
    button.header__burger(@click="toggleMenu", :class="{ 'header__burger_close': isShowMenu }")
    include ../nav.pug