header.header
  .container.header__box
    a.header__logo(href='/')
      img.header__logo-img(src='img/logotype.svg' alt='Ledgerium logotype')
      img.header__logo-img.header__logo-img_dark(src='img/logotype-dark.svg' alt='Ledgerium logotype')
      span ledgerium.io
    nav
      ul.header__menu
        li
          a.header__item(href='/') Home
        li
          a.header__item(href='team.html') Team
        li
          a.header__item(href='roadmap.html') Roadmap
        li
          a.header__item(href='#.html') xlg Token
        li
          a.header__item(href='docs.html') Docs
        li
          a.header__item(href='block-ledger.html') Block Ledger