header.header(:class="{ 'header_show': isShowMenu, 'header_height-full': isShowHeight, 'header_scroll_home': isScroll }")
  .container.header__box(:class="{ 'header__box_scroll': isScroll }")
    a.header__logo(href='/')
      img.header__logo-img.header__logo-img_light(src='img/logotype.svg' alt='Ledgerium logotype', :style="{ 'display: none': isScroll }")
      img.header__logo-img.header__logo-img_dark(src='img/logotype.svg' alt='Ledgerium logotype', :style="{ 'display: none': !isScroll }")
      span ledgerium.io
    button.header__burger(@click="toggleMenu", :class="{ 'header__burger_close': isShowMenu }")
    include ../nav.pug