section.container
  .home-banner
    p
      | Visit 
      a(href='https://theblockledger.net') theblockledger.net
      |  to learn more about our parent company, or
      br
      |  or 
      a(href='https://lucaplus.com') lucaplus.com
      | for our first product.