section.container.home-banner
  .home-banner__box.load-hidden
    p.home-banner__text LEDGERIUM TESTNET IS NOW LIVE 
      i.home-banner__icon-rocket
    a.home-banner__btn(href="http://testnet.ledgerium.net/", target="_blank") Testnet 
      i.home-banner__icon-arrow 
    