section.top.home-top
  h1.top__title.home-top__title every transaction. everywhere.
  p.top__text
    | We aim a bit higher. We think the blockchain is first and foremost a ledger. We plan to use it as one. Imagine real-time tax reporting, financial audits and complete transparency for any and all transactions.
  button.btn.btn_empty.home-top__become-btn Become a validation
  button.btn.btn_empty Join the community
  img.home-top__img(src='img/hero-image.svg' alt='')