section.container
  .home-banner.load-hidden
    p
      | Visit 
      a(href='https://www.theblockledger.net' target='_blank') theblockledger.net
      |  to learn more about our parent company, 
      br
      |  or 
      a(href='https://lucaplus.com' target='_blank') lucaplus.com
      |  for our first product.
