section.top.home-top
  h1.top__title.home-top__title every transaction.
    br
    | everywhere.
  p.top__text
    | We aim a bit higher. We think the blockchain is first and foremost a ledger. We plan to use it as one. Imagine real-time tax reporting, financial audits and complete transparency for any and all transactions.
    a(href='https://whitepaper.ledgerium.io' target='_blank') Read the whitepaper.
  a.button.btn.btn_empty.home-top__become-btn(href='https://blockledger.typeform.com/to/TTjHWz' target='_blank') Block Producers
  a.button.btn.btn_empty(href='https://t.me/LedgeriumOfficial' target='_blank') Join the community
  img.home-top__img(src='img/hero-image.svg' alt='')