section.container
  .home-banner
    p
      | Visit 
      a(href='https://www.theblockledger.net') theblockledger.net
      |  for learning more about our parent
      br
      |  company or learn about our blockchain here.
    button.btn.btn_green.home-banner__btn Block Ledger Website