section.container.home-banner
  .home-banner__box.load-hidden
    p.home-banner__text XLG Token Sale is coming soon 
      i.home-banner__icon-rocket
    a.home-banner__btn(href="http://testnet.ledgerium.net/", target="_blank") Testnet
    a.home-banner__btn(href="https://tokensale.ledgerium.io", target="_blank") XLG Token Sale