section.container.partners
  a.partners__item
    img(src='img/partners/acx.svg' alt='')
  a.partners__item
    img(src='img/partners/blockchain-global.svg' alt='')
  a.partners__item
    img(src='img/partners/idex.svg' alt='')
  a.partners__item
    img(src='img/partners/trust-wallet.svg' alt='')
  a.partners__item
    img(src='img/partners/fmaa.svg' alt='')