footer.footer
  .footer__box
    .footer__copyright
      | &copy; Copyright 2019 Blockledger | 
      a(href='#') Terms of Service
      |  | 
      a(href='#') Privacy &amp; Security
    nav
      ul.footer__social.social
        li
          a.social__item.social__twitter(href='#')
        li
          a.social__item.social__medium(href='#')
        li
          a.social__item.social__github(href='#')
        li
          a.social__item.social__telegram(href='#')