nav.header__nav(:class="{ 'header__nav_show': isShowMenu }")
  button.header__btn-close(@click="isShowMenu = false")
  ul.header__menu
    li
      a.header__item(href='https://whitepaper.ledgerium.io' target='_blank') Whitepaper
    li
      a.header__item(href='roadmap.html') Roadmap
    li
      a.header__item(href='https://docs.ledgerium.io/') Docs
    //- li
    //-   a.header__item(href='https://medium.com/ledgerium-io' target='_blank') Blog
    li
      a.header__item(href='https://www.theblockledger.net' target='_blank') Block Ledger

script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-141695607-4')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141695607-4');
