nav.header__nav(:class="{ 'header__nav_show': isShowMenu }")
  ul.header__menu
    li
      a.header__item(href='/') Home
    li
      a.header__item(href='team.html') Team
    li
      a.header__item(href='roadmap.html') Roadmap
    li
      a.header__item(href='xgl.html') xlg Token
    li
      a.header__item(href='docs.html') Docs
    li
      a.header__item(href='block-ledger.html') Block Ledger