.app {
  color: var(--gray);

  &__home {
    background-color: var(--bg);
    color: var(--text);
  }
}

.container {
  width: 90%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  padding: 0 64px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 26px;
  }
}
