.app {
  color: var(--gray);

  &__home {
    background-color: var(--bg);
    color: var(--text);
  }
}

.container {
  width: 100%;
  max-width: 1724px;
  position: relative;
  margin: 0 auto;
  padding: 0 64px;
}