.app__home {
  background-color: var(--bg);
  color: var(--text);
  padding-top: 184px;
}

.container {
  width: 100%;
  max-width: 1724px;
  position: relative;
  margin: 0 auto;
  padding: 0 64px; 
}