.footer {
  border-top: 1px solid var(--text);

  &__box {
    font-weight: 300;
    font-size: 14px;
    padding: 0 20px;
    min-height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    list-style: none;
    display: flex;
    margin-right: 108px;
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .footer {
    &__social {
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__box {
      flex-direction: column-reverse;
      padding: 0;
      padding-top: 48px;
    }

    &__social {
      margin-bottom: 38px;
      margin-left: 34px;
      text-align: center;
    }

    &__copyright {
      text-align: center;
      border-top: 1px solid var(--text);
      font-size: 10px;
      width: 100%;
      padding: 15px 0;
    }
  }
}