.header {
  position: fixed;
  top: 0;
  padding-top: 56px;
  left: 0;
  width: 100%;
  transition: .3s background-color, .3s padding-top;
  z-index: 1000;

  &_scroll {
    background-color: var(--text);
    color: var(--dark);
    padding-top: 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  
    &_scroll {
      & .header__logo span {
        display: none;
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 75px;
  }

  &__item {
    display: block;
    padding: 12px 24px;
  }

  &__logo {
    font-size: 24px;
  }

  &__logo-img {
    margin-right: 10px;
  }

  &__logo-img_dark {
    display: none;
  }
}