.header {
  position: fixed;
  top: 0;
  // padding-top: 56px;
  background-color: var(--bg);
  color: #fff;
  @media (max-width: 991px) {
    padding-top: 0px;
  }
  left: 0;
  width: 100%;
  transition: 0.2s height, 0.3s padding-top, 0.2s box-shadow;
  z-index: 1000;

  &--blue {
    background-color: var(--bg);
    color: #fff;
  }

  &_scroll {
    background-color: #152756;
    &_home {
      background-color: #152756;
    }
    // box-shadow: var(--shadow);
    // color: var(--dark);
    // padding-top: 0;
    // .header__item {
    //   color: var(--gray);
    // }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    &_scroll {
      & .header__logo span {
        display: none;
      }
      & .header__logo-img_light {
        display: none;
      }
      & .header__logo-img_dark {
        display: block;
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__item {
    display: block;
    padding: 17px 24px;
  }

  &__logo {
    font-size: 24px;

    &_home {
      @media (min-width: 1199px) {
        position: relative;
        top: 8px;
        left: 0;
      }
      
      @media (max-width: 991px) {
        width: 166px;
      }
    }
    &_not_home {
      @media (max-width: 991px) {
        width: 64px;
      }
    }

    & span {
      color: #fff;
    }
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &__logo-img {
    margin-right: 10px;
    // vertical-align: text-top;
    // margin-top: 28px;
  }

  &__logo-img_dark {
    display: none;
  }
  &__logo-text {
    color: var(--dark);
  }

  &__burger {
    display: none;
    width: 20px;
    height: 14px;
    background: url(../img/icons/burger.svg) no-repeat center;
    background-size: contain;
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .header {
    &__menu {
      margin-right: 0;
    }
  }
}

@media (max-width: 1070px) {
  .header {

    &__box {
      flex-wrap: wrap;
      height: 100%;
    }

    &__menu {
      display: block;
    }

    &__nav {
      width: 100%;
      display: none;
      text-align: center;

      position: relative;
      left: 0;

      &_show {
        display: block;
      }
    }

    &__burger {
      display: block;

      &_close {
        background-image: url("../img/icons/close.svg");
      }
    }

    &__item {
      padding-top: 0;
      padding-bottom: 36px;
      font-size: 18px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &_scroll {
      padding-top: 0;
    }

    &__logo {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 0;
  }
}

@media (max-width: 1070px) {
  .header {
    &_height-full {
      height: 100vh;
      z-index: 999;

      .header__box_xlg {
        height: 100%;
      }
    }

    &_show {
      background-color: #fafcff;
      color: #4c6280;

      .header__logo {
        span {
          display: none;
        }
      }
    }
  }
}