:root {
  --bg: #203060;
  --text: #BDCFE9;
  --dark: #203060;
  --green: #50E6C5;
  --light: #FAFCFF;
  --gray: #7D93B2;
  --dark-gray: #4D6280;

  --shadow: 0 8px 40px #0F1F4F;
  --shadow-dark: 0 8px 15px rgba(125, 147, 178, .25);
  --shadow-light: 0 20px 30px rgba(125, 147, 178, .15);
}