:root {
  --bg: #203060;
  --text: #BDCFE9;
  --dark: #203060;
  --green: #50E6C5;
  --green-hover: #20D4B6;
  --light: #FAFCFF;
  --gray: #7D93B2;
  --dark-gray: #4D6280;
  --red: #ff5c72;

  --shadow: 0 7.1px 40px rgba(190, 208, 233, .3);
  --shadow-light: 0 20px 30px rgba(125, 147, 178, .15);
}