include modules/head.pug

.app.app__home
  include modules/home/header.pug
  main
    include modules/home/home-top.pug
    include modules/home/home-banner.pug
    include modules/home/partners.pug
  include modules/footer.pug
  
script(src='https://cdn.jsdelivr.net/npm/vue')
script(src='https://cdn.jsdelivr.net/npm/scrollreveal@4.0.5/dist/scrollreveal.min.js')
script(src='js/header.js')
