- var title = 'Roadmap'
include modules/head.pug

.app
  include modules/header.pug
  main
    include modules/roadmap/top.pug
    include modules/roadmap/pricing.pug
    include modules/roadmap/the-way.pug
  include modules/footer.pug
  
script(src='https://cdn.jsdelivr.net/npm/vue')
script(src='js/header.js')
script(src="js/range.js")