include modules/head.pug

.app
  include modules/home/header.pug
  main
    include modules/top.pug
    .container.team__container
      .founders
        h2.team-title The Founders
  include modules/footer.pug
  
script(src='js/header.js')
