include modules/head.pug

.app
  include modules/xlg/header.pug
  main
    include modules/xlg/the-way.pug
  include modules/footer.pug
  
script(src='https://cdn.jsdelivr.net/npm/vue')
script(src='js/header.js')
script(src="js/tabs.js")