section.container.the-way.xgl-way
  .the-way__box.xgl-way__box
    #distribution.the-way__item.xgl-way__item
      .xgl-way__img.xgl-way__img_left
        h3.xgl-way__mobile-title Distribution
        img(src="img/xgl/chart.svg", alt="")
      article.xgl-way__article.xgl-way__article_right
        .xgl-way__title
          h3 Distribution
          img.xgl-way__title-icon(src="img/xgl/1.svg", alt="")
        p Ledgerium is a hybrid chain, where validators are chosen based on various factors. Of all possible validators, 20% will always be maintained by ledgerium. 40% will be given to top universities and public institutions, and the remaining 40% will be given to enterprises or the open market. This will ensure at all times, we have 60% of validators locked and producing blocks, no matter what the value of the token is. 
    #validators.the-way__item.xgl-way__item
      .xgl-way__img.xgl-way__img_right
        h3.xgl-way__mobile-title Validators
        img(src="img/xgl/2.jpg", alt="")
      article.xgl-way__article.xgl-way__article_left
        .xgl-way__title
          img.xgl-way__title-icon(src="img/xgl/2.svg", alt="")
          h3 Validators
        p Validators in the ledgerium ecosystem produce the blocks. Ledgerium will initially launch with only 20 validators and all other validators must be voted in. The requirements to be a validator are listed on our form. Once you apply our smart governance app will show your intent to product blocks to all other validators. At this point they will vote a new validator in. Validators can also be removed from the pool by other validators in the same way. For a validator to be added or removed, a consensus of over 51% is needed.
    #buy.the-way__item.xgl-way__item
      .xgl-way__img.xgl-way__img_left
        h3.xgl-way__mobile-title Buy
        img(src="img/xgl/3.jpg", alt="")
      article.xgl-way__article.xgl-way__article_right
        .xgl-way__title
          h3 Buy
          img.xgl-way__title-icon(src="img/xgl/3.svg", alt="")
        p XLG is currently trading as an ERC-20 token. An initial supply of only 200 XLG was created out of which only 50% is currently in unlocked wallets. You can trade, buy or sell the ERC-20 XLG token on the following exchanges. 
    #exporer.the-way__item.xgl-way__item
      .xgl-way__img.xgl-way__img_right
        h3.xgl-way__mobile-title Watch
        img(src="img/xgl/4.jpg", alt="")
      article.xgl-way__article.xgl-way__article_left
        .xgl-way__title
          img.xgl-way__title-icon(src="img/xgl/4.svg", alt="")
          h3 Watch
        p Currently the XLG token is being traded as an ERC-20 token. After the mainnet launch, all current tokens will be converted to our mainnet coins. You can watch or follow the token on etherscan or any other ethereum token based block explorer. 
    #wallets.the-way__item.xgl-way__item
      .xgl-way__img.xgl-way__img_left
        h3.xgl-way__mobile-title Wallets
        img(src="img/xgl/5.jpg", alt="")
      article.xgl-way__article.xgl-way__article_right
        .xgl-way__title
          h3 Wallets
          img.xgl-way__title-icon(src="img/xgl/5.svg", alt="")
        p Currently any ethereum based wallet is supported that supports ERC-20 tokens. Native support has been added to trust wallet, imToken, and MEW. Hardware wallets like Ledger Nano are also fully supported.