.ico-rating {
  display: flex;
  justify-content: space-between;
  max-width: 840px;
  margin: 0 auto;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 160px 15px;

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    --item-color: #fff;
    width: 167px;
    border-radius: 16px;
    overflow: hidden;
    border: 0.5px solid var(--item-color);
    color: var(--item-color);
    background-color: var(--item-color);

    &_ico-bench {
      --item-color: #5C69B4;
    }

    &_coin-checkup {
      --item-color: #2CD1AD;
    }

    &_ico-marks {
      --item-color: #3D4C81;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
  }

  &__wrapper {
    background-color: #fff;
    padding-bottom: 24px;
  }

  &__value {
    font-weight: 600;
    font-size: 53px;
    line-height: 1;
    padding-top: 24px;
  }
}