.qa {
  max-width: 788px;
  padding: 0 16px;
  font-size: 16px;
  margin: 0 auto;

  &__top-text {
    max-width: 660px;
    margin: 24px auto 50px;
    font-weight: 300;
    line-height: 27px;
    color: #4D6280;
  }

  &__item {
    text-align: left;
  }

  &__article {
    height: 0;
    overflow: hidden;
    transition: .2s height, .2s margin-top;
    border-bottom: 0 solid rgba(125, 147, 178, 0.5);
    color: #4D6280;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;

    p {
      margin-bottom: 1.6em;
    }

    a {
      font-weight: bolder;
    }

    ul {
      padding: 0;
      list-style-position: inside;
      margin-bottom: 1.6em;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(125, 147, 178, 0.5);
    padding: 18px 0;
    cursor: pointer;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
  }

  &__btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    background: url(/img/icons/plus.svg) no-repeat center;
    background-size: cover;

    &_is-show {
      background-image: url(/img/icons/minus.svg);
    }
  }
}