.sale-info {
  display: flex;
  align-items: flex-start;
  text-align: left;
  max-width: 1568px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 200px;
  font-size: 16px;

  &__table {
    border: 0.5px solid rgba(125, 147, 179, 0.3);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 36px 0;

    &::after {
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 250px;
      z-index: -1;
      background: linear-gradient(198.58deg, #CFD4E3 0.47%, rgba(207, 212, 227, 0) 112.96%);
      border-right: 0.5px solid rgba(125, 147, 179, 0.3);
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__name {
    display: block;
    text-transform: uppercase;
    padding: 24px 0;
    font-weight: 600;
    color: #203060;
    width: 250px;
    text-align: center;
    padding: 0 36px;
  }

  &__value {
    display: block;
    padding: 24px 36px;
    color: #4D6280;
  }

  &__link {
    color: var(--green);
    text-decoration: underline;
  }

  &__img-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 40%;
  }
}

@media (max-width: 1480px) {
  .sale-info {
    &__img-wrapper {
      max-width: 34%;
    }
  }
}

@media (max-width: 1200px) {
  .sale-info {
    &__col {
      padding-left: 20px;
    }
  }
}