.tabs {
  overflow-x: auto;
  transform: translateY(2px);
  width: 80%;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 20px;
    color: #b1bed0;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__item {
    line-height: 28px;
    padding: 15px 0;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
    // width: 232px;

    &_active {
      color: var(--green);
      border-color: var(--green);

      &:visited {
        color: var(--green);
      }
    }
  }
}

@media (max-width: 991px) {
  .tabs {
    width: 100%;
    padding: 0 30px;

    &__list {
      font-size: 14px;
    }

    &__item {
      padding: 0 15px;
    }
  }
}
