.tell-others {
  background-color: #EDF4FD;
  padding-bottom: 140px;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
  }

  &__img-wrapper {
    flex-shrink: 0;
  }

  &__text {
    padding: 0 15px;
    flex-shrink: 0;
    color: #4D6280;
    font-size: 17px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    color: var(--black);
    margin-bottom: 30px;

    &::after {
      content: '';
      width: 44px;
      height: 44px;
      background: url(/img/icons/rocket.svg) no-repeat center;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__telegram {
    background-color: var(--bg);
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 110px;
    display: block;
    transition: .2s background-color, .2s color;

    &:hover,
    &:focus {
      background-color: #CEDDF2;
      color: var(--bg);

      .tell-others__span {
        &::before {
          background-image: url(/img/icons/join-telegram-hover.svg);
        }
      }
    }
  }

  &__span {
    line-height: 92px;
    font-size: 20px;

    &::before {
      content: '';
      background: url(/img/icons/join-telegram.svg) no-repeat center;
      background-size: contain;
      width: 32px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    display: block;
    border: 1px solid var(--bg);
    border-radius: 4px;
    width: 175px;
    text-align: center;
    padding: 5px 0;
    transition: .2s background-color, .2s color;
    color: var(--bg);

    &:hover,
    &:focus {
      background-color: var(--bg);
      color: #fff;
    }

    &:first-child {
      margin-right: 38px;
    }
  }
}