.xlg-top {
  padding-bottom: 0;
  padding-top: 100px;
  width: 100%;
  transition: .2s padding-top;

  &_scroll {
    padding-top: 0;
  }
}

@media (max-width: 1070px) {
  .xlg-top {
    padding-top: 0;
  }
}