.xlg-way {
  margin-top: 300px;
  overflow-x: hidden;

  &__box {
    display: flex;
    padding-bottom: 40px;
    width: calc(100vw * 5);
    transform: translateX(0);
    transition: .3s transform;
  }

  &__item {
    display: block;
    width: 100vw;
    flex-shrink: 0;
    padding: 0 60px;
    text-align: center;

    &::before {
      top: 226px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__article {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
  }

  &__img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button:first-child {
      margin-right: 46px;
    }
  }

  &__title-icon {
    width: 90px;
    box-shadow: var(--shadow);
    border-radius: 100%;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border: 0.5px solid #ceddf2;
      top: 50%;
      left: 14px;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      z-index: -2;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .xlg-way {
    &__btns {
      display: block;
      margin-top: 20px;

      button:first-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}