.xlg-way {
  margin-top: 340px;
  overflow-x: hidden;
  margin-bottom: 100px;

  &__box {
    display: flex;
    align-items: flex-start;
    width: calc(100vw * 5);
    transform: translateX(0);
    transition: .3s transform;
    overflow: hidden;
  }

  &__item {
    display: block;
    width: 100vw;
    flex-shrink: 0;
    position: relative;
    text-align: center;

    &::before {
      top: 226px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__article {
    width: 100%;
    max-width: 740px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 29px;
  }

  &__img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button:first-child {
      margin-right: 46px;
    }
  }

  &__title-icon {
    width: 90px;
    box-shadow: var(--shadow);
    border-radius: 100%;
    margin: 3rem auto;

    &::before {
      content: "";
      position: absolute;
      border: 0.5px solid #ceddf2;
      left: 0;
      width: 100vw;
      height: 1px;
      z-index: -2;
      margin-top: 45px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 2rem;
  }

  &__screenshot {
    background: #fff;
    box-shadow: 0px 7.31943px 41.0444px rgba(190, 208, 233, 0.3);
    border-radius: 18px;
    width: 80%;
    padding: 20px;
    margin: auto;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .xlg-way {
    font-size: 14px;

    &__btns {
      display: block;
      margin-top: 20px;

      button:first-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__title-icon {
      width: 58px;
      margin: 2rem auto;

      &::before {
        margin-top: 29px;
      }
    }
  }
}
