.plans
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 1, 'plans__title_active': current === '1' }") Mainnet
    p.plans__text
      | Decentralised smart
      br
      | governance
      br
      | First 21 block producers
      br
      | Private tx support
      br
      | Wallets
      br
      | APIs and SDKs
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 2, 'plans__title_active': current === '2' }") Services
    p.plans__text
      | IPFS/Swarm
      br
      | Asset transfer with 
      br
      | privacy
      br
      | Delegator based block producers 
      br
      | Onboard 21 more block producers
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 3, 'plans__title_active': current === '3' }") Scaling
    p.plans__text
      | Plasma & sharding
      br
      | ETH -> XLG transactions
      br
      | Onchain e-commerce
      br
      | Side-chain micro-payments
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 4, 'plans__title_active': current === '4' }") Cross Chain Tx
    p.plans__text
      | Cross sharding communication
      br
      | Compute rent fees
      br
      | WASM engines for smart 
      br
      | contracts performance