.plans
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 1, 'plans__title_active': current === '1' }") Mainnet
    p.plans__text
      | Decentralised smart
      br
      | Governance
      br
      | First 20 validators
      br
      | Private tx support
      br
      | Wallets
      br
      | APIs and SDKs
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 2, 'plans__title_active': current === '2' }") Services
    p.plans__text
      | IPFS/Swarm
      br
      | Naming & Identity
      br
      | Fixed gas txs
      br
      | Transaction relayers
      br
      | Onboard 20 more Validators
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 3, 'plans__title_active': current === '3' }") Cross Chain Tx 
    p.plans__text
      | 3rd party data oracles
      br
      | eth -> xlg transactions
      br
      | 3rd party services connectors
      br
      | Onchain e-commerce
  .plans__item
    h3.plans__title(:class="{ 'plans__title_unactive': current < 4, 'plans__title_active': current === '4' }") Scaling
    p.plans__text
      | Plasma & sharding
      br
      | L2 sidechains
      br
      | Segregated contracts
      br
      | Cross channel Communications