section.container.pricing
  .pricing__box
    .pricing__top
      .pricing__side
        span.pricing__period {{ prices[current].period }}
        img.pricing__badge(src="img/icons/badge.svg", alt="")
        a.pricing__link(href="http://toorak.ledgerium.io") http://toorak.ledgerium.io/
      span.pricing__side.pricing__title {{ prices[current].title }}
    include range.pug
    include plans.pug