.container
  .pricing
    h1 Title
    .range
      label
        input.range__input(type="radio", name="range", v-model="current", value="0")
        span.range__span
      label
        input.range__input(type="radio", name="range", v-model="current", value="1")
        span.range__span
      label
        input.range__input(type="radio", name="range", v-model="current", value="2")
        span.range__span
      label
        input.range__input(type="radio", name="range", v-model="current", value="3")
        span.range__span
      label
        input.range__input(type="radio", name="range", v-model="current", value="4")
        span.range__span
      span.range__slider(:style="{ 'left': 25 * current + '%' }")
      span.range__progress(:style="{ 'width': 25 * current + '%' }")