section.container.the-way
  h2.the-way__title We Have Come A Long Way
  .the-way__box
    article.the-way__item.the-way__item_left
      .the-way__img.the-way__img_left
        img(src="img/roadmap/startup.jpg", alt="")
      span.the-way__number 01
      h3 Our start
      p We started in Feb 2018 in one of our core member Ray's living room.
        br
        | Our management team memeber Leo had brought together a team and 
        br
        | like all other projects at the time, our investors wanted us to do an ICO.  
    article.the-way__item.the-way__item_right
      .the-way__img.the-way__img_right
        img(src="img/roadmap/2.jpg", alt="")
      span.the-way__number 02
      h3 The early days
      p Early days were difficult. We bootstrapped. Said no to an ICO, and went 
        br
        | about looking for more developers. The planning phase lasted more than 
        br
        | 6 months while crypto markets bled.
    article.the-way__item.the-way__item_left
      .the-way__img.the-way__img_left
        img(src="img/roadmap/3.jpg", alt="")
      span.the-way__number 03
      h3 The right people
      p Eventually after a lot of work we finally managed to make a few offers. 
        br
        | Our first offer declined and eventually went on to build the DEX at 
        br
        | Binance. Our second offer accepted, and left PwC to join us. From there 
        br
        | we have added many more as you will see in our team page.
    article.the-way__item.the-way__item_right
      .the-way__img.the-way__img_right
        img(src="img/roadmap/4.jpg", alt="")
      span.the-way__number 04
      h3 Now
      p Today we work out of an office that is opposite the iconic ABC news in 
        br
        | Melbourne. We boast some of the brightest developers in our team and 
        br
        | simultaneously work on getting two parallel efforts out. Ledgerium.io our 
        br
        | blockchain, and 
        a(href="http://lucaplus.com") LUCA+ 
        our first flagship product.