mixin qa(title)
  .qa__item
    .qa__header
      h3.qa__title=title
      button.qa__btn(type="button")
    article.qa__article
      block

.qa
  h2.token-sale__title.qa__title Questions & Answers
  p.qa__top-text A set of the most important questions and answers about XLG, Ledgerium Blockchain and the Sale. For additional questions, contact our Support center or join our Telegram channel.

  +qa('What is Ledgerium Blockchain?')
    p
      strong Ledgerium Blockchain
      | is a distributed digital ledger that can record transactions between parties efficiently in a verifiable and permanent way. This allows the participants to verify and audit transactions instantly and inexpensively.
    p
      strong Ledgerium Blockchain
      |  is an Ethereum/Quorum based distributed digital ledger that will record public and private transactions between parties efficiently in a verifiable and permanent way.
    ul Some of the features of Ledgerium Blockchain are
      li Distributed and Decentralised
      li Immutable
      li Public and Private Transactions
      li High Throughput
      li Scalable
      li High Availability
      li Secured
    p
      strong Block Ledger
      | , a company behind
      strong Ledgerium Blockchain
      | . It brings an e-invoicing and financial accounting reconciliation product named
      strong Luca+
      | to the market place which leverages
      strong Ledgerium Blockchain
      | to maintain audit trails and transparency.

  +qa('What is XLG?')
    p XLG is the native crypto currency of Ledgerium Blockchain. Anyone interacting with Ledgerium Blockchain e.g. Block Producers/Validators, Developers needs to have XLG in their wallet. At present, XLG token is under sale which is ERC-20 token and its smart contract address is
      a(href="https://etherscan.io/token/0x3c51210c25e2f053ee02ea46ed9a66b587574b58") 0x3c51210c25e2f053ee02ea46ed9a66b587574b58

  +qa('What are some of the use case of XLG token?')
    ul While Ledgerium Blockchain is open and public blockchain for DApp developers to use it for any use case they deem fit, Block Ledger aims to use the Ledgerium Blockchain for following use cases
      li Triple Entry Ledger
      li e-Invoicing
      li Audit Trail & Confirmation
      li Credit and Risk Scoring
      li Invoice Financing
      li Invoice Tokenisation
      li Financial Documentation

  +qa('What currencies can be used to buy XLG?')
    p USD, ETH, BTC, BNB and USDT

  +qa('When will the public sale be held?')
    p XLG token public sale will be started from 25th Nov 2019.

  +qa('How to contribute to the XLG token sale?')
    p First and foremost, you have to sign for our
      strong whitelisting
      | . If you have not signed up yet, please do so
      a(href="https://ledgerium.io") here
      | , click on the "Join Whitelist" button on the top of the page. After that, you should fill out the "Join the Whitelist" form. Once you submit the form, you will receive a confirmation email. Please follow the instructions in the email.
      br
      | XLG tokens will be available for purchase with Ether (ETH) from your ETH wallet. If you plan to participate in the XLG token sale, we recommend acquiring ETH well in advance of the sale start date to ensure your ability to contribute.

  +qa('Are XLG tokens tradable before the launch of Mainnet?')
    p No. Pre-Sale stage XLGs will have a vesting period of 25% every 3 months.

  +qa('Is there any whitelist?')
    p Yes, you can sign up for our whitelist by clicking on the “Join Whitelist” button on the right side of our main page.

  +qa('When will the XLG Token be listed on exchanges?')
    p We are in talks with reputed cryptocurrency exchanges for the listing of the XLG token and we expect the XLG token to be listed within 30 days of public sale completion. We will share the names of the exchanges after the token sale is over.

  +qa('What if I only have an exchange ETH wallet?')
    p ETH wallets on exchanges should only be used for the temporary storage of cryptocurrencies. There is a major risk involved with exchange wallets and you should be aware of them. You should create an actual ETH wallet by following the instructions at
      a(href="https://www.myetherwallet.com/") https://www.myetherwallet.com/
      | . The process is really quick and easy, and should only take a few minutes. This wallet is highly secure and will keep your crypto assets safe.

  +qa('When will I receive my XLG tokens?')
    p Tokens are transferred immediately after sending the ETH amount to the unique contract address if the sender’s ETH address is in the whitelist. Otherwise, your transaction will be processed manually within 24 hours.

  +qa('Where can I get help?')
    p For any further questions, please don’t hesitate to contact our messenger,
      a(href="mailto:info@ledgerium.io") email us
      | or
      a(href="https://t.me/LedgeriumOfficial") join our community on Telegram
      | to get involved in discussions about the sale.
