section.container-xlg.xlg-way
  .xlg-way__box
    #token-sale.xlg-way__item.token-sale
      include token-sale.pug
    #distribution.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/chart.svg", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/1.svg", alt="")
        h3.xlg-way__title Distribution
        p Ledgerium is a hybrid blockchain, where block producers are chosen based on various factors. Of all possible block producers, 20% will always be maintained by ledgerium. 40% will be given to top universities and public institutions, and the remaining 40% will be given to enterprises or the open market. This will ensure at all times, we have 60% of block producers locked and producing blocks, no matter what the value of the token is. 
    #validators.xlg-way__item
      article.xlg-way__article
        .xlg-way__screenshot
          img.xlg-way__img(src="img/xlg/2.png", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/2.svg", alt="")
        h3.xlg-way__title Block Producers
        p Block producers in the ledgerium ecosystem produce the blocks. Ledgerium will initially launch with only 21 block producers and all other block producers must be voted in. The requirements to be a block producer are listed on our form. Once you apply our smart governance app will show your intent to product blocks to all other block producers. At this point they will vote a new block producer in. Block producers can also be removed from the pool by other block producer in the same way. For a block producer to be added or removed, a consensus of over 51% is needed.
    #buy.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/3.png", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/3.svg", alt="")
        h3.xlg-way__title Buy
        p XLG is currently an ERC-20 token. An initial supply of only 200 million XLG was created. We are currently offering XLG as private sales and getting ready to offer to public sale soon.
      
    #exporer.xlg-way__item
      article.xlg-way__article
        .xlg-way__screenshot
          img.xlg-way__img(src="img/xlg/4.jpg", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/4.svg", alt="")
        h3.xlg-way__title Watch
        p Currently the XLG token is being traded as an ERC-20 token. After the mainnet launch, all current tokens will be converted to our mainnet coins. You can watch or follow the token on etherscan or any other ethereum token based block explorer. 
      .xlg-way__btns
        button.btn.btn_green(onclick="window.open('https://etherscan.io/token/0x7b128bd10994b26289a158c2df71a73ba653ed48','_blank');") XLG on Etherscan
        button.btn.btn_green(onclick="window.open('http://testnet.ledgerium.net','_blank');") XLG on Testnet
        
    #wallets.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/5_01.svg", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/5.svg", alt="")
        h3.xlg-way__title Wallets
        p Currently any ethereum based wallet is supported that supports ERC-20 tokens. Native support has been added to trust wallet, imToken, and MEW. Hardware wallets like Ledger Nano are also fully supported.