section.container-xlg.xlg-way
  .xlg-way__box
    #distribution.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/chart.svg", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/1.svg", alt="")
        h3.xlg-way__title Distribution
        p Ledgerium is a hybrid chain, where validators are chosen based on various factors. Of all possible validators, 20% will always be maintained by ledgerium. 40% will be given to top universities and public institutions, and the remaining 40% will be given to enterprises or the open market. This will ensure at all times, we have 60% of validators locked and producing blocks, no matter what the value of the token is. 
    #validators.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/2.png", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/2.svg", alt="")
        h3.xlg-way__title Validators
        p Validators in the ledgerium ecosystem produce the blocks. Ledgerium will initially launch with only 20 validators and all other validators must be voted in. The requirements to be a validator are listed on our form. Once you apply our smart governance app will show your intent to product blocks to all other validators. At this point they will vote a new validator in. Validators can also be removed from the pool by other validators in the same way. For a validator to be added or removed, a consensus of over 51% is needed.
    #buy.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/3.png", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/3.svg", alt="")
        h3.xlg-way__title Buy
        p XLG is currently an ERC-20 token. An initial supply of only 200 million XLG was created. 
      
    #exporer.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/4.png", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/4.svg", alt="")
        h3.xlg-way__title Watch
        p Currently the XLG token is being traded as an ERC-20 token. After the mainnet launch, all current tokens will be converted to our mainnet coins. You can watch or follow the token on etherscan or any other ethereum token based block explorer. 
      .xlg-way__btns
        button.btn.btn_green(onclick="window.open('https://etherscan.io/token/0x598c9a4f069dc076984868873c01e78a905d50e6','_blank');") XLG on Etherscan
        button.btn.btn_green XLG on Testnet
    #wallets.xlg-way__item
      article.xlg-way__article
        img.xlg-way__img(src="img/xlg/5_01.svg", alt="")
        .xlg-way__title-icon
          img(src="img/xlg/5.svg", alt="")
        h3.xlg-way__title Wallets
        p Currently any ethereum based wallet is supported that supports ERC-20 tokens. Native support has been added to trust wallet, imToken, and MEW. Hardware wallets like Ledger Nano are also fully supported.