.timer(:class="{ 'timer_scroll': isScroll }")
  span.timer__text All you have to know
  h1.timer__title XLG Token Sale Coming Soon
  .timer__date
    .timer__item-wrap
      .timer__item.timer__days
      .timer__period days
    .timer__item-wrap
      .timer__item.timer__hours
      .timer__period hours
    .timer__item-wrap
      .timer__item.timer__min
      .timer__period minutes
    .timer__item-wrap
      .timer__item.timer__sec
      .timer__period seconds