.sale-info
  div
    .sale-info__table
      .sale-info__col.sale-info__col-name
        span.sale-info__name Sale starts
        span.sale-info__name Sale ends
        span.sale-info__name Accepted currency
        span.sale-info__name XLG Token price
        span.sale-info__name XLG Token Status 
        span.sale-info__name XLG Token Delivery
        span.sale-info__name XLG Mainnet Launch
        span.sale-info__name XLG Tokens for sale
      .sale-info__col.sale-info__col-value
        span.sale-info__value Nov 4, 2019, 9:00am UTC
        span.sale-info__value Nov 20, 2019, 6:00pm UTC
        span.sale-info__value USDT. 
          a.sale-info__link(href="#") Learn more
          |  how to use other currencies.
        span.sale-info__value 0.05 - 0.07 USD
        span.sale-info__value Locked. 
          a.sale-info__link(href="#") Learn more
        span.sale-info__value Immediately after XLG lisiting. 
          a.sale-info__link(href="#") Learn more
        span.sale-info__value Expected March 31, 2020
        span.sale-info__value 40,000,000
    p After purchase you instantly receive XLGC, which converts to XLG after listing. 
      a.sale-info__link(href="#") Learn more.
  .sale-info__img-wrapper
    img(src="/img/xlg/token-sale-1.svg", alt="")

.tell-others
  .tell-others__img-wrapper
    img(src="/img/xlg/token-sale-2.svg")
  .tell-others__text
    h2.tell-others__title Don’t be selfish, tell others
    p Share your personal invite link and earn 2.5% of the total paid 
      br 
      | amount of your referral. 
      a.tell-others__link(href="#") Learn more about the terms.