.top.xlg-top(:class="{ 'xlg-top_scroll': isScroll }")
  nav.container-full.tabs
    ul.tabs__list
      li.tabs__wrap-item
        a.tabs__item(href="#token-sale") XLG Token Sale
      li.tabs__wrap-item
        a.tabs__item(href="#distribution") Distribution
      li.tabs__wrap-item
        a.tabs__item(href="#validators") Block Producers
      li.tabs__wrap-item
        a.tabs__item(href="#buy") Buy
      li.tabs__wrap-item
        a.tabs__item(href="#exporer") Watch
      li.tabs__wrap-item
        a.tabs__item(href="#wallets") Wallets
      li.tabs__wrap-item
        a.tabs__item(href="http://testnet.ledgerium.net/", target="_blank") Testnet