.people {
  margin-top: 105px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 74px 32px;
    margin-top: 70px;
  }

  &__item {
    box-shadow: 0 7.1px 40px rgba(190, 208, 233, .3);
    transition: .2s box-shadow;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 32px;
    min-height: 400px;
    position: relative;
    padding: 44px 26px 26px 44px;

    &:hover,
    &:focus {
      box-shadow: var(--shadow-light);
    }
  }

  &__photo {
    border: 7.5px solid #fff;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    transform: translate(-34%, -26%);
    box-shadow: var(--shadow);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-gray);
  }

  &__short {
    margin-left: 65px;
    margin-bottom: 23px;
  }

  &__position {
    color: #BED0E9;
    font-size: 14px;
    font-weight: 300;
    display: block;
    line-height: 1.2rem;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--gray);
  }
}

@media (max-width: 1300px) {
  .people {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 991px) {
  .people {
    margin-top: 20px;

    &__grid {
      grid-row-gap: 40px;
      margin-top: 46px;
    }

    &__item {
      padding: 24px 16px 24px 21px;
      min-height: auto;
      margin-left: 0;
    }

    &__photo {
      width: 80px;
      height: 80px;
      border-width: 6px;
      transform: translate(-22%,-26%);
    }

    &__name {
      font-size: 14px;
    }

    &__position {
      font-size: 10px;
    }
    
    .people__short {
      margin-left: 60px;
      margin-bottom: 13px;
    }

    &__text {
      font-size: 12px;
      font-weight: 300;
      line-height: 19px;
    }
  }

  &__show {
    display: none;
  }
}

@media (max-width: 767px) {
  .people {
    &__grid {
      display: block;
    }

    &__item {
      margin-bottom: 40px;
      display: none;

      &:nth-child(-n+3) {
        display: block;
      }

      &_show {
        display: block;
      }
    }

    &__show {
      display: block;
      margin: 0 auto;
      height: 5px;
      width: 23px;
      background: url(../img/icons/show-more.svg) no-repeat center;
      background-size: contain;
    }
  }
}