.people {
  margin-top: 105px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 74px 32px;
    margin-top: 70px;
  }

  &__item {
    box-shadow: 0 7.1px 40px rgba(190, 208, 233, .3);
    transition: .2s box-shadow;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 32px;
    min-height: 400px;

    &:hover,
    &:focus {
      box-shadow: var(--shadow-light);
    }
  }

  &__photo {
    background-color: #fff;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    transform: translate(-34%,-26%);
    box-shadow: var(--shadow);
  }

  &__img {
    border-radius: 100%;
    width: 105px;
    height: 105px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-gray);
  }

  &__short {
    display: inline-block;
    transform: translate(-16px, 16px);
  }

  &__position {
    color: #BED0E9;
    font-size: 14px;
    font-weight: 300;
    display: block;
    line-height: 1.2rem;
  }

  &__text {
    padding: 0 42px 20px 39px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--gray);
    transform: translateY(-10px);
  }
}