.xgl-way {
  margin-top: 400px;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
    }

    &_img {
      &::before {
        display: none;
      }
    }
  }

  &__article {
    margin-top: 70px;
  }
}

@media (min-width: 1199px) {
  .xgl-way {
    &__item {
      padding-top: 130px;
    }

    &__img {
      &_right {
        padding-left: 130px;
      }

      &_left {
        padding-right: 130px;
      }
    }
    
    &__article {
      &_right {
        padding-left: 130px;
      }

      &_left {
        padding-right: 130px;
      }
    }
  }
}

@media (min-width: 768px) {
  .xgl-way {
    &__img {
      width: 50%;

      &_right {
        padding-left: 80px;
        margin-right: auto;
      }

      &_left {
        padding-right: 80px;
        margin-left: auto;
      }
    }
    
    &__article {
      width: 50%;

      &_right {
        padding-left: 80px;
      }

      &_left {
        padding-right: 80px;
        order: -1;
        text-align: right;
      }
    }
  }
}

@media (max-width: 767px) {
  .xgl-way {
    &__item {
      display: block;
    }
  }
}