.xgl-way {
  margin-top: 400px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title-icon {
    box-shadow: var(--shadow);
    border-radius: 100%;
    margin: 0 32px;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;

    &::before {
      top: 226px;
      left: 50%;
      transform: translateX(-50%);
    }

    &_img {
      &::before {
        display: none;
      }
    }
  }

  &__article {
    margin-top: 70px;
  }
}

@media (min-width: 1199px) {
  .xgl-way {
    &__img {
      &_right {
        padding-left: 130px;
      }

      &_left {
        padding-right: 130px;
      }
    }
    
    &__article {
      &_right {
        padding-left: 130px;
      }

      &_left {
        padding-right: 130px;
      }
    }
  }
}

@media (min-width: 768px) {
  .xgl-way {
    &__img {
      width: 50%;

      &_right {
        padding-left: 80px;
        margin-right: auto;
      }

      &_left {
        padding-right: 80px;
        margin-left: auto;
      }
    }

    &__mobile-title {
      display: none;
    }
    
    &__article {
      width: 50%;

      &_right {
        padding-left: 80px;
      }

      &_left {
        padding-right: 80px;
        order: -1;
        text-align: right;

        .xgl-way__title {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .xgl-way {
    padding: 0;
    margin-top: 0;

    &__title {
      justify-content: center;
      margin-bottom: 16px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        border: .5px solid #CEDDF2;
        top: 50%;
        left: -60px;
        width: 100vw;
        height: 1px;
        z-index: -2;
      }

      h3 {
        display: none;
      }
    }

    &__title-icon {
      width: 58px;
    }

    &__box {
      display: flex;
      overflow-x: auto;
      padding: 0;
    }

    &__item {
      display: block;
      width:  100vw;
      flex-shrink: 0;
      padding: 120px 60px 0;
    }

    &__article {
      margin-top: 0;
    }
  }
}